@charset "UTF-8";
input{
            border-radius: 10px;
            padding: 5px;
        }
button{
    color: white;
    background-color: orange;
    border-radius: 50px;
    border-color: orange;
    box-shadow: 0;
    border: 10px solid;
}
button:hover{
    color: orange;
    background-color: white;
    border-radius: 10px;
    border-color: white;
}
#erro{
    visibility: hidden;
    color: red;
}